body, html{
	width:100%;
	height:100%;
}
.conteiner{
	padding:20px 0;
	max-width:100%;	
}
.divbox{
	width:1170px;
	margin:0 auto;
}

.logo{
	width:100px;
}
.flex{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.navigation-ul{
	display:flex;
	color:#3D58A6;
}
.navigation-li{
	margin-right:37px;
	text-transform:uppercase;
}
.navigation-li:last-child{
	margin-right:0;
}
/*/header/*/
.perfectioni{
	display:flex;
}
.divbox1{
	width: 70%;
}
.banner{
	background-image: url(../image/baner.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 700px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.banner-text{	
	font-size:80px;
	color:#fff;
	text-transform:uppercase;
}
.banner-text2{	
	font-size:52px;
	color:000000;
	text-transform:uppercase;
}
.room{
	flex-direction:column;
	width: 30%;
}
.baner1{	
	background-image: url(../image/baner1.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 350px;
	width: 100%;
}
.baner2{
	background-image: url(../image/baner2.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 350px;
	width: 100%;
}
.blue{
	margin:0 auto;
	width:1100px;
	height:120px;
	background-color:#4E26FD;
	margin-top:50px;
}
.divblack{
	margin-left:20px;
	display:flex;
}
.boxblack{
	background-color:#000;
	height:105px;
	width: 1100px;
}
.box{
	width:270px;
	height:210px;
}
.texti{
	color:#000;
	background-color:#fff;
	width:200px;
	height:50px;
	line-height:50px;
	padding:0 10px;
	font-size:17px;
	margin-top:30px;
}
.texti:hover{
	border:2px solid #4E26FD;
}
.texti1{
	background-color:#4E26FD;
}
.texti1:hover{
	border:2px solid #fff;
}
/*/section blackbox/*/
.roomhotel{
	width: 1100px;
	margin:0 auto;
}
.hotel{
	display:flex;
	justify-content: center;
}
.hotelh1{
	text-transform:uppercase;
	font-size:40px;
	margin-top:100px;
	text-align: center;
}
.hotelh2{
    font-size:40px;
	margin-top:100px;
}
.travel{
	display:flex;
}
.image{
	width:360px;
	height:240px;
	margin-top:25px;
	margin-left:50px;
}
.image:first-child{
	margin-left:0;
}
.boxh5{
	margin-left:80px;
	margin-top:30px;
	font-size:16px;
}
.image1{
	width: 350px;
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.image1:first-child{
	margin-left:0;
}
.solid:hover{
	border:2px solid #92C6F4;
}
.travel1{
	margin:0 auto;
	display:flex;
	width:1100px;
}
.more {
	display: flex;
	justify-content: center;
}
.moreh1{
	font-size:14px;
	color:#4e26fd;
	padding:5px 30px;
	border:2px solid#4E26FD;
	margin-top:40px;
	margin-bottom:30px;
}
.moreh1:hover{
	border:2px solid #99D1FF;
}
/*/section roomhotel/*/
.winterh1{
	text-transform:uppercase;
	font-size:40px;
	margin-top:50px;
	margin-bottom:30px;
	text-align: center;
}
.wrap{
	display:flex;
}
.snowbg{
	background-image:url(../image/snow.svg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	width:20%;
	height:585px;
	}
.snowbg1{
	background-image:url(../image/snow1.svg);
	background-repeat:no-repeat;
	height:585px;
	background-size: cover;
	background-position: center;
	width:20%;
	
}
.snowbg2{
	background-image:url(../image/snow2.svg);
	background-repeat:no-repeat;
	height:585px;
	background-size: cover;
	background-position: center;
	width:20%;
	
}
.snowbg3{
	background-image:url(../image/snow3.svg);
	background-repeat:no-repeat;
	height:585px;
	background-size: cover;
	background-position: center;
	width:20%;
	
}
.snowbg4{
	background-image:url(../image/snow4.svg);
	background-repeat:no-repeat;
	height:585px;
	background-size: cover;
	background-position: center;
	width:20%;
}
.wrapabsolute{
	position:absolute;
	margin-top:480px;
	font-size:14px;
	color:#fff;
	margin-left: 30px;
}
.smol{
	margin-top:5px;
}
.bigsize{
	position:absolute;
	font-size: 40px;
	bottom:30px;
	color:#fff;
	text-transform:uppercase;
}
/*/winter activities/*/
.deluxe {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;
	text-align: center;
}
.deluxeh1{	
	text-transform:uppercase;
	font-size:50px;
	margin-bottom: 20px;
}
.deluxeh11{
	text-transform:uppercase;
	font-size:50px;
}
.beautiful{
	display:flex;
	justify-content: space-around;
	align-items: top;
	padding-top:50px;
	width: 1100px;
	margin: 0 auto;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.beautifuldiv{
	width:240px;
}
.beautifuldiv1{
	width:240px;
	margin-top:25px;

}
.divbeautiful{
	width:240px;
}
.pbeautiful{
	margin-top:5px;
}
.beautifulimg2{
	width:550px;	
}
.weatherbg{
	background-image:url(../image/baneri.svg);
	display:flex;
	max-width:100%;
	height:550px;
	margin-top:30px;
	background-repeat:no-repeat;
}
.ulabsolute{
	position:absolute;
	margin-top:130px;
	left:730px;
	font-size:80px;
	color:#fff;
	text-transform:uppercase;
}
.ulabsolute1{
	position:absolute;
	font-size:20px;
	color:#fff;
	left:750px;
	margin-top:340px;
}
.text-opacity{
	opacity: 0.7;
	width: 80%;
    margin-bottom: 30px;
    margin-top:-30px;
}
.moreabsolute{
	position:absolute;
	font-size:14px;
	padding:7px 30px;
	background:#0000FF;
	color:#fff;
}
.moreabsolute:hover{
	border:2px solid #99D1FF;
}
.fromh1{
	text-transform:uppercase;
	font-size:80px;
	margin-top:50px;
	text-align: center;
}
.spring{
	display:flex;
	width:1100px;
	margin:0 auto;
}
.imgspring{
	width:350px;
	height:240px;
	margin-top:25px;
	margin-left:60px;
}
.imgspring:first-child {
	margin-left:0;
}
.h5spring{
	margin-top:30px;
	font-size:16px;
}
.moreh2{
	font-size:14px;
	border:2px solid#4E26FD;
	color:#4e26fd;
	padding:5px 30px;
	margin-top:200px;
}
.moreh2:hover{
	border:2px solid #99D1FF;
}
.container{
	background-color:#252525;
	max-width:100%;
	height:300px;
	margin-top:50px;
}
.footer-wrapper {
	width: 1100px;
	margin:0 auto;
}
.footerimg{
	width:100px;
	margin-top:50px;
}
.foot-contact{
	display:flex;
	color:#fff;
	margin-top:20px;
}
.footertext{
	margin-left:10px;
}
.links-navigation{
	display:flex;
	margin-left:380px;
	margin-top:-100px;
}
.links{
	color:#fff;
	text-transform:uppercase;
	margin-left:80px;
}
.footer-menu{
	margin-top:10px;
}
.social_text{
	color:#fff;
    margin-top: -70px;
    margin-bottom: 30px;
}
.social{
	margin-left:1000px;
	margin-top:-30px;
}
.social-img{
	height:30px;
	width:40px;
}